<table id="cal">
  <thead>
    <tr><% Date::ABBR_MONTHNAMES.each do |nom| %>
      <%= "<th>#{nom || '2015'}</th>" %><% end %>
    </tr>
  </thead>
  <tbody><% 0.upto(41) do |lig| %>
    <tr<%= add_class(@matrice[0][lig][0]) %>><% 0.upto(12) do |col| %>
      <td<%= add_class(@col_styles[col]) + add_title(@matrice[col][lig][1]) %>><%= @matrice[col][lig][0] %></td><% end %>
    </tr><% end %>
  </tbody>
  <tfoot>
    <tr><% Date::ABBR_MONTHNAMES.each do |nom| %>
      <%= "<th>#{nom || '2015'}</th>" %><% end %>
    </tr>
  </tfoot>
</table>
