<h3><%= day_title(@workday) %></h3>

<% if @workday.errors.any? %>
<ul>
  <% @workday.errors.each do |error| %><li><%= error.join(" ") %></li><% end %>
</ul>
<% end %>

<form action="/<%= @workday.id %>" method="post">
  <input type="hidden" name="_method" value="put" />
  <fieldset class="form">
    <% if @workdays.nil? %>
    <p>
      <label for="date">Journée</label>
      <input class="short" id="date" name="workday[date]" type="text" value="<%= input_date(@workday.date) %>" />
      <span class="not_important">(format yyyy-mm-dd)</span>
    </p>
    <% end %>
    <p>
      <label for="am_start">Heures</label>
      <input class="short" id="am_start" name="workday[am_start]" type="text" value="<%= @workday.am_start %>" />
      /
      <input class="short" id="am_end" name="workday[am_end]" type="text" value="<%= @workday.am_end %>" />
      et
      <input class="short" id="pm_start" name="workday[pm_start]" type="text" value="<%= @workday.pm_start %>" />
      /
      <input class="short" id="pm_end" name="workday[pm_end]" type="text" value="<%= @workday.pm_end %>" />
    </p>
    <p>
      <label for="detail">Détail</label>
      <textarea id="detail" name="workday[detail]" cols="20" rows="2"><%= @workday.detail %></textarea>
    </p>
    <p class="submit">
      <input id="submit" type="submit" value="Modifier" disabled />
      <a href="/">Annuler</a>
    </p>
  </fieldset>
</form>

<script>

/* Active le bouton [Modifier] dès que le contenu est modifié */
var submit = document.getElementById("submit"),
    inputs = document.querySelectorAll("input.short, textarea");
[].forEach.call(inputs, function (input) {
  input.addEventListener("input", function(e) { submit.disabled = false; })
});

/* Fonction pour prévenir qu'il existe du contenu modifié */
var alerte = function (e) {
  // Si le bouton [Modifier] est désactivé (ie le contenu n'a pas été modifié)
  var submit = document.getElementById("submit");
  // Alors il n'est pas nécessaire de faire confirmer la sortie de page
  if (submit.disabled) exit;
  // Défini un message pour que le navigateur affiche une fenêtre de confirmation
  var e = e || window.event,
      message = "Les informations en cours de saisie n'ont pas été enregistrées. ";
  message += "Elles seront perdues si vous quittez ou rechargez la page en cours.";
  if (e) e.returnValue = message;
  return message;
};

/* Active la confirmation de sortie de page s'il existe du contenu modifié */
window.addEventListener("beforeunload", alerte);
/* Et désactive la confirmation dès qu'on enregistre le contenu */
document.forms[0].addEventListener("submit", function(e) {
  window.removeEventListener("beforeunload", alerte);
});

/* Détourne Ctrl+S pour enregistrer la saisie en cours */
/* http://stackoverflow.com/questions/4446987/overriding-controls-save-functionality-in-browser */
document.addEventListener("keydown", function(e) {
  if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
    // Désactive le comportement par défaut
    e.preventDefault();
    // Si le bouton [Modifier] est activé (ie le contenu a bien été modifié)
    var submit = document.getElementById("submit");
    // Alors il est possible de sauvegarder
    if (!submit.disabled) submit.click();
  }
}, false);

</script>
