<%= erb :"bookmarks/new" %>

<div class="tags">
<% @tags.each do |tag, count| %><%= tag_link(tag, count) %>
<% end %></div>

<h3>Tags // <%= @current_tag %></h3>

<ul class="links">
<% @bookmarks.each do |bookmark| %>
  <li>
    <p>
      <%= bookmark_link(bookmark) %>
      <%= bookmark_tags(bookmark.tags, @current_tag) %>
      <a class="over" href="/bookmarks/edit/<%= bookmark.id %>">edit</a>
    </p>
    <p><%= bookmark.description %></p>
  </li>
<% end %>
</ul>
